<a href="https://colab.research.google.com/github/mako2016/data_portfolio/blob/main/curso_data1/agregacion_datos_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Agregacion de datos por categoria

In [2]:
import pandas as pd
import numpy as np

In [3]:
gender=['male','female']
income=['poor','middle class','Rich']

In [4]:
gender_array=[]
income_array=[]

n=500

In [5]:
for i in range(n):
  gender_array.append(np.random.choice(gender))
  income_array.append(np.random.choice(income))

In [8]:
## Z-> normal(0,1)
## N(m,s)=m+s*Z

heigth = 160 + 30 * np.random.randn(n)
weigth = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income= 18000 + 3500 * np.random.randn(n)

In [11]:
##Se crea un dataset dummy para probar las funciones de agregacion, no tiene nningun sentido en si mismo.


df=pd.DataFrame(
    {
        "gender": gender_array, 
        "Social Income" : income_array,
        "heigth": heigth,
        "weigth": weigth,
        "age": age,
        "income" : income
    }
)

In [12]:
##Agrupacion por columnas

gender_group=df.groupby("gender")

In [14]:
##Me muestra los groupos y en que filas aparece cada miembro del grupo.

gender_group.groups

{'female': [0, 1, 2, 4, 5, 7, 10, 12, 13, 14, 18, 23, 24, 25, 27, 28, 29, 31, 32, 35, 36, 40, 41, 42, 43, 44, 45, 47, 48, 51, 53, 54, 58, 59, 60, 61, 62, 65, 66, 67, 68, 69, 70, 75, 77, 78, 81, 83, 84, 86, 90, 91, 94, 95, 96, 97, 100, 103, 104, 105, 106, 107, 108, 113, 115, 118, 119, 120, 121, 124, 128, 129, 131, 132, 133, 134, 135, 137, 139, 141, 142, 144, 145, 147, 148, 152, 153, 154, 155, 156, 157, 158, 161, 162, 164, 168, 170, 171, 172, 174, ...], 'male': [3, 6, 8, 9, 11, 15, 16, 17, 19, 20, 21, 22, 26, 30, 33, 34, 37, 38, 39, 46, 49, 50, 52, 55, 56, 57, 63, 64, 71, 72, 73, 74, 76, 79, 80, 82, 85, 87, 88, 89, 92, 93, 98, 99, 101, 102, 109, 110, 111, 112, 114, 116, 117, 122, 123, 125, 126, 127, 130, 136, 138, 140, 143, 146, 149, 150, 151, 159, 160, 163, 165, 166, 167, 169, 173, 175, 178, 184, 186, 187, 188, 191, 194, 198, 200, 202, 203, 205, 208, 209, 210, 214, 216, 220, 224, 229, 232, 233, 237, 238, ...]}